.App {
  text-align: center;
}
html{
  background-image: url(https://img.freepik.com/premium-vector/space-background-with-stars-vector-illustration_97886-319.jpg);
}
.nav{
  display: flex;
  justify-content: space-around;
  font-family: 'Star Jedi', arial;
  
}

.grid { 
  display: grid;
  grid-template-columns: auto auto;
  background-image: url(https://img.freepik.com/premium-vector/space-background-with-stars-vector-illustration_97886-319.jpg);
  
  
}
.shipnames{
  border: 1px solid rgb(150, 91, 228);
  margin: 15px;
  padding: 15px;
  background-color: rgba(140, 85, 213, 0.2);
  color: rgb(245, 245, 237);
  box-shadow: -5px 10px 15px rgb(150, 91, 228);
}

.shipsTitle:hover{
  cursor: pointer;
  color: yellow;
}

.grid2{
  display: grid;
  grid-template-columns: auto auto;
  
}

.shipsTitle {
  text-decoration: underline;
}

.header{
  color: yellow;
  
  
}



 @keyframes slide {
  0%   { 
  transform: translateY(200%); 		
  }
  100% { 
  transform: translateY(0%); 
  }
 }

.introRoll {
  color: yellow;
  margin: 50px;
  padding: 20px;
  font-family: 'Star Jedi', arial;
  animation: slide 10s ease-out;
  
}

.par1, .par2, .par3 {
  margin-top: 35px;
  animation: slide 10s ease-out;
}

.grid3{
  display: grid;
  grid-template-columns: auto auto;
}

.planetName{
  text-decoration: underline;
}

.peopleNames{
  text-decoration: underline;
}
.welcome{
  font-size: 70px;
  font-family: 'Star Jedi', arial;
}

.home1, .star1, .plan1, .char1{
  color: rgb(150, 91, 228);
  
  
}

.home1:hover, .star1:hover, .plan1:hover, .char1:hover{
  color: yellow;
}

.shipsIDclass{
  color: white;
}
.shipsIDclass:hover{
  color: yellow;
}
.testhi{
  color: azure;
}
.shipDetailsColor{
  color: aliceblue;
}
.testingh3{
  color: white;
}

.shipContainer{
  border: 1px solid rgb(150, 91, 228);
  margin: 15px;
  padding: 15px;
  background-color: rgba(140, 85, 213, 0.2);
  box-shadow: -5px 10px 15px rgb(150, 91, 228);
}
.shipCon1{
  color: yellow;
}
.planetName:hover{
  cursor: pointer;
  color: yellow;

}
.planCon1{
  color: yellow;
}

.peopleNames:hover{
  cursor: pointer;
  color: yellow;
}
.charCon1{
  color: yellow;
}